<div id="loader" class="preloader" style="display:none;">
            <span class="title--preloader">
                <img src="{{ getenv('APP_ROOT_PUBLIC') }}/assets/styles/proaxive/Settings.gif" alt="loader" /><br>
                Traitement en cours, <span class="txtprimary">veuillez patientez ...</span>
            </span>
</div>