{% extends 'install/_layout.twig' %}

{% block body %}
    {{ include('install/_loader.twig') }}
    <div class="si__content">
        {{ include('_notifications.twig') }}
        <h1>02. Installation de la base de données <span class="txtprimary">Proaxive Lite</span> 2/2</h1>
        <span>L'installateur va maintenant importer les données de Proaxive.</span>
        <p>Si vos informations de connexion à votre base de données sont corrects, vous pouvez continuer.</p>
        <div class="bloc-default">
            <div class="bloc-default_title">
                <strong>Seeding</strong>
            </div>
            <div class="bloc-default" style="margin-top:1rem;">
                {% if success == 1 %}
                    <div class="big-icon text-center primarytxt" style="font-size:9em;">
                        <i class="icofont-ui-check"></i>
                    </div>
                {% elseif success == 0 %}
                    <div class="big-icon text-center" style="font-size:9em;">
                        <i class="icofont-arrow-right"></i><i class="icofont-database"></i>
                    </div>
                {% elseif success is empty %}
                    <div class="big-icon text-center" style="font-size:9em;">
                        <i class="icofont-arrow-right"></i><i class="icofont-database"></i>
                    </div>
                {% endif %}
                <h3 style="margin-bottom:1rem;">Retour de la console</h3>
                <div class="code" style="background-color:#333;color:white;max-height: 300px;overflow: auto;padding: 1em;position: relative;word-break: break-word;margin-bottom:1em;">
                    {{ response | raw  }}
                </div>
            </div>
        </div>
    </div>
    <div class="si__footer text-right">
        {% if success == 1 %}
            <form method="post" action="/setup/setting" class="d-inline-block" onsubmit="viewLoader()">
                <button type="submit" class="btn btn-primary"><i class="icofont-check-circled"></i> Suivant</button>
            </form>
        {% elseif success == 0 %}
            <form method="post" onsubmit="viewLoader()">
                <button type="submit" class="btn btn-primary" name="seeding"><i class="icofont-check-circled"></i> Relancer</button>
            </form>
        {% elseif success is empty %}
            <form method="post" onsubmit="viewLoader()">
                <button type="submit" class="btn btn-primary" name="seeding"><i class="icofont-check-circled"></i> Lancer le seeding</button>
            </form>
        {% endif %}
    </div>
{% endblock %}