/.idea
/vendor/
/.env
/.env.local
/.env.exemple
/var/logs/*.log
/var/pdf/*.pdf
/var/logs
/cron-database.php
/config/parameters.json
###< Assets ###
/public/assets/sass
/public/assets/.sass-cache
/public/assets/config.rb
/public/uploads/avatars/*
/public/uploads/logo/*
/public/uploads/sign/*
/public/uploads/equipments/*
###< Addon ###
/src/Addon/Inventory
###< Storage ###
/storage/backups/*
/storage/tmp/*
/storage/documents/deposits/*.pdf
/storage/documents/deposits/signed/*.pdf
/storage/app/bao/*
###< Seeder ###
/src/Infrastructure/Seeder/CustomerSeeder.php
/src/Infrastructure/Seeder/EquipmentSeeder.php