{% extends 'frontoffice/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="flex justify-content-center">
            <div style="min-width: 500px;">
                <div class="card t-3 all-border">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <img class="v-middle mb-4" style="height:90px;" src="/img/logos/logo_circle_2.png" alt="">
                            <h1>Panel Proaxive</h1>
                            <span>Bienvenue sur Proaxive, merci de vous connecter.</span>
                        </div>
                        <div class="login-form-horizontal mt-4">
                            <form method="post" action="">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-prefix">
                                        <span class="input-group-case case-prefix"><i class="ri-mail-fill fs-18px"></i></span>
                                        <label>
                                            <input type="text" name="email" class="form-control" placeholder="Votre adresse courriel">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-prefix">
                                        <span class="input-group-case case-prefix"><i class="ri-key-2-fill fs-18px"></i></span>
                                        <label>
                                            <input type="password" name="password" class="form-control">
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-2 text-center">
                                    <button type="submit" class="btn-purple btn-lg rd-10">Se connecter</button>
                                </div>
                            </form>
                        </div>
                        <div class="text-center border-top-dashed pt-3 mt-3">
                            <a href="" class="btn-sm btn-light-pink btn-rounded nomg fw-600">Mot de passe oublié ?</a>
                            <p class="pt-3">
                                Votre accès est confidentiel, ne le communiquez jamais à autruis.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-relative t-4 text-center">
                    2021, 2023 <strong>Proaxive 2.0</strong>
                </div>
            </div>
        </div>
    </div>

{% endblock %}