{% extends 'frontoffice/base.html.twig' %}

{% block title %}Proaxive Connexion{% endblock %}

{% block body %}
    <div class="body-background mh-fullvh">
        <div class="container">
            <div class="flex justify-content-center">
                <div class="login-container">
                    <div class="text-center mt-6">
                        <img style="height: 100px;width: auto" src="{{ get_env('PATH_PUBLIC') }}/img/logos/logo_proaxive2.png" alt="">
                    </div>
                    <div class="card card-shadow mt-3">
                        <div class="card-body text-center p-8">
                            <h1 class="title-login">Panel Proaxive</h1>
                            <div class="login-form-horizontal input-with-icon mt-4">
                                <form method="post" action="">
                                    <div class="form-group mb-3">
                                        <label for="email" class="form-label">Adresse courriel</label>
                                        <div class="input-group input-group-prefix">
                                            <span class="input-group-case case-prefix"><i class="ri-mail-fill fs-18px"></i></span>
                                            <input type="text" id="email" name="email" class="form-control" placeholder="john@gmail.com">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 p-relative">
                                        <label for="password" class="form-label">Mot de passe</label>
                                        <div class="input-group input-group-prefix">
                                            <span class="input-group-case case-prefix"><i class="ri-key-2-fill fs-18px"></i></span>
                                            <input type="password" name="password" id="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="form-group">
                                            <a class="link color-inherit" href="{{ url_for('auth_reset_account') }}">Mot de passe oublié ?</a>
                                        </div>
                                        <div class="mt-4">
                                            <button type="submit" class="btn-sk-one btn-lg rd-10">Se connecter</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="text-center border-top-dashed pt-3 mt-3">
                                <p class="pt-3">
                                    Votre accès est confidentiel, ne le communiquez jamais à autruis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-relative t-4 text-center">
                        2021, 2024. Propulsé par <strong>Proaxive</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}