{% extends 'backoffice/base.html.twig' %}

{% block title %}Intervention n°{{ i.ref_number }} <span class="text-one">incomplète</span>{% endblock %}

{% block body %}
    <div class="grid-center">
        <div class="col-10_sm-12">
            <div class="card">
                <div class="card-body p-4">
                    <h3>Cette intervention est incomplète</h3>
                    <p>
                        Cette situation arrive si un équipement ou un client a été supprimé de la base de données. L'intervention reste présente mais n'est plus associée.
                        <br>
                        Vous avez deux solutions, soit l'archiver complétement (cf archivage dans <a href="https://proaxive.fr/docs/app/v-2-0/interventions-6">la documentation</a>) ou la supprimer définitivement.
                    </p>
                    <div class="mt-3 text-center">
                        <strong>Que voulez-vous faire ?</strong>
                        <div class="mt-3">
                            <form action="" method="post" class="d-inline-block">
                                <button type="submit" class="btn btn-sk-tree">Archiver</button>
                            </form>
                            <button data-target="delete_intervention" data-toggle="modal" type="button" class="btn btn-sk-one">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="delete_intervention">
        <div class="modal-container">
            <div class="modal-header">
                <h1>Confirmation de suppression</h1>
            </div>
            <div class="modal-content">
                Vous êtes sur le point de supprimer l'intervention :
                <p>
                    <i class="ri-arrow-right-circle-line"></i> <strong>{{ i.ref_number }}</strong>
                </p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{{ url_for('intervention_delete', {'id':i.id}) }}">
                    <input type="hidden" name="_METHOD" value="DELETE"/>
                    <button type="submit" class="btn btn-light-four mb-0"><i class="fa fa-check-circle" aria-hidden="true"></i> Oui, je confirme</button>
                    <button data-dismiss="modal" class="modal__close btn btn-light-pink mb-0">Annuler</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
