{% extends 'backoffice/base.html.twig' %}

{% block title %}Nouvel équipement{% endblock %}

{% block body %}
    <ul id="tabs" class="nav-components">
        <li><a class="selected" href="#"><i class="ri-computer-line"></i> Ordinateur/Smartphone</a></li>
        <li><a href="{{ url_for('equipment_create_device') }}"><i class="ri-printer-line"></i> Périphérique</a></li>
    </ul>
    <div class="card">
        <div class="card-tabs">
            <div class="p-4">
                {{ include('backoffice/equipment/_form.html.twig', {'device': null}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
{% endblock %}

