<div class="card-custom">
    {% if intervention.pmad == 1 %}
        <h1 class="title-card primary whitetxt">Votre rendez-vous a été programmé</h1>
        <div class="card-content">
            Nous vous confirmons que l'intervention à distance a été programmée le <strong>{{ intervention.received | localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y à H:m') }}</strong><br>
        </div>
    {% else %}
        <h1 class="title-card primary whitetxt">La maintenance n'a pas encore débutée</h1>
        <div class="card-content">
            Votre équipement a bien été récupéré, mais l'intervention n'a pas encore débutée. Ca ne devrait plus être long, n'hésitez pas à revenir régulièrement.<br>
        </div>
    {% endif %}
</div>
