<div class="flash-message">
<!-- For Portal -->
{% for message in flash.get('info') %}
    <div class="alt-notification info" id="message-flash">
        <div class="icon_wrapper">
            <i class="ri-alarm-warning-line"></i>
        </div>
        <p>
            {{ message }}
        </p>
    </div>
{% endfor %}
{% for message in flash.get('error') %}
    <div class="alt-notification error" id="message-flash">
        <div class="icon_wrapper">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <p>
            {{ message }}
        </p>
    </div>
{% endfor %}
{% for message in flash.get('success') %}
    <div class="alt-notification success" id="message-flash">
        <div class="icon_wrapper">
            <i class="ri-alarm-warning-line"></i>
        </div>
        <p>
            {{ message }}
        </p>
    </div>
{% endfor %}
{% for message in flash.get('warning') %}
    <div class="alt-notification warning" id="message-flash">
        <div class="icon_wrapper">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        <p>
            {{ message }}
        </p>
    </div>
{% endfor %}
</div>

{% block javascripts %}
    <script>
        setTimeout( function(){
            const oMsg = document.getElementById('message-flash');
            if(oMsg){
                oMsg.style.display = 'none';
            }
        }, 3000);
    </script>
{% endblock %}